staging:
  deploy_to: "/var/webapps/consul"
  ssh_port: 22
  server: "consul.toledo.es"
  server_name: "consul.toledo.es"
  user: "deploy"
  full_app_name: "toledo_participa"

preproduction:
  deploy_to: "/var/www/consul"
  ssh_port: "2222"
  server1: xxx.xxx.xxx.xxx
  server2: xxx.xxx.xxx.xxx
  db_server: xxx.xxx.xxx.xxx
  user: xxxxx
  server_name: pre.consul.es
  full_app_name: "consul"

production:
  deploy_to: "/var/www/consul"
  ssh_port: "22"
  server1: xxx.xxx.xxx.xxx
  server2: xxx.xxx.xxx.xxx
  db_server: xxx.xxx.xxx.xxx
  user: "deploy"
  server_name: "consul.es"
  full_app_name: "consul"
